/***********font-family**************/

* {
    font-family: "Helvetica Neue", Helvetica,Tahoma，Arial，'Hiragino Sans GB'，'WenQuanYi Micro Hei'，'Microsoft Yahei'，sans-serif;
    padding: 0;
    margin: 0;
}

/*********full-page***********/
body,
html {
    height: 100%;
    width: 100%;
}


/****************html的盒模型是border-box,其余的继承，这样的好处是，如果想要设置成content-box，后面的也可以继承*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

a:link {
    color:#fff;
}
/* 未访问的链接 */

a:visited {
    color:#fff;
}
/* 已访问的链接 */

a:hover {
    color:#fff;
}
/* 鼠标移动到链接上 */

a:active {
    color:#fff;
}
/* 选定的链接 */

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/Preloader_3.gif) center no-repeat #fff;
}


header {
    background: url(../img/bg2.jpg);
    /*一定要注意是上一级目录*/
    background-size: cover;
    height: 100%;
    width: 100%;
    /*box-shadow: 0 700px 0 0 rgba(0, 0, 0, 0.2) inset;/*实现遮罩的效果*/
    /*background-attachment: fixed;*/
    /*这样背景图片就不会动了*/
}
.video {
  position: absolute;
  z-index: 0;
  top: 50%; left: 50%;
   transform: translate(-50%, -50%);
    min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.video2{
    position: relative;
  z-index: 1;
  /*top: 50%; left: 50%;*/
   /*transform: translate(-50%, -50%);*/
    width: 100%;

}
#nav {
    height: 50px;
    width: 100%;
    position: fixed;
    /*让导航栏一直在上面*/
    z-index: 3;
    background-color: #fff;
    margin: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    text-align: right;
}

nav ul {
    display: block;
    color: #000;
    list-style: none;
    /*去掉li前面的点*/
    margin: 0 auto;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

nav ul li {
     /*float: right;*/
    display: inline-block;
    margin-right: 20px;
}
.logo{
    float: left;
}
.logo h1{
    margin: 0 20px;
}
ul a:link,ul a:visited,ul a:hover,a:active
{
    color:#000;
}
#hamburger {
    z-index: 3;
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    transition: all 1s;
    /*height: =width*/
    /*use js to let height==width*/
}
@media all and (orientation:portrait) {
    
}
.nav {
    /*position: relative;*/
    /*margin: 7.5px 10px;*/
   /* height: 10%;
    width: 80%;
    margin-top: 20%;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    height:3px;
    width: 30px;
    background:#104E8B;
    -webkit-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}

.up{
    top: -20px;
}
.down{
    top: 20px;
}
/***************************遮罩*************************/
#mask-nav {
    position: fixed;
    display: none;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    transition:all 1s;
    color: #fff;

}

#mask-nav ul {
    /*position: absolute;*/
    width: 100%;
    color:#fff;
    list-style: none;
    /*去掉li前面的点*/
    margin: auto;
    text-align: center;/*文字水平居中*/
    }
#mask-nav ul li{
    color: white;
    width: 100%;
    margin-top: 3%;
}
#mask-nav ul li:hover{
     background:white;
     color: black;
}
/***********************banner*********************/

#banner {
    height: 100%;
    width: 100%;
    /*background: transparent;*/
    background: rgba(0, 0, 0, 0.2);
    /*这句放在这里也能实现这种遮罩的效果*/
    color: #fff;
}

#banner .inner {
    /*设置inner的宽度*/
    margin: 0 auto;
    /*上下为0，左右为auto 使其居中*/
    text-align: center;
    position: relative;
    top: 20%;
    /*往下来一点*/
}

#banner .inner h1 {
    margin: 0 auto;
    /*有多余的行高*/
}

#banner .inner p {
    line-height: 20px;
    margin: 10px  auto;
}

button {
    outline: none;
    /*去除button点击过后的外边框*/
    border: none;
    background: #333;
    /*背景颜色*/
    color: #eee;
    /*文字颜色*/
}

#banner button {
    border-radius: 5px;
    position: absolute;
    /*padding: 25px 50px;*/
    /**************用absolute left:0 right:0 margin:atuo实现居中*/
    left: 0;
    right: 0;
    margin: auto;
 /*   height: 10%;
    width: 20%;
    bottom: 10%;*/
    height:50px;
    width: 100px;
    bottom: 10%;
    font-size: 16px;
    /*letter-spacing: 12px;*/
    color: #eee;
    transition: color 1s;
    /*按钮的上文字的颜色加了过度效果*/
}

#banner button:before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    width: 0%;
    height: 100%;
    color: #eee;
    display: flex;
    /*another button style*/
    /* background: url(../img/more.png) no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;*/
    transition: width .4s ease;
}

#banner button:hover {
    color: #333;
    /*按钮的上文字的颜色加了过度效果*/
}

#banner button:hover:before {
    width: 100%;
    /*opacity: 1;*/
}


/*z-index叠加 由于是postion：realtive所以按次序覆盖在上面*/

#banner button span {
    position: relative;
}


/***************************RECOMMEND**********************/

#recommend {
    position: relative;
    font-size: 12px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #171D25;
    color: #fff;
    /*box-sizing: border-box;*/
    /*padding: 1% 0;*/
    border: solid 1px #171D25;
    /*避免子元素的margin-top塌陷*/
}

.wrapper {
    width: 80%;
    margin: 10% auto 5% auto
}

#recommend .hr {
    width: 100%;
    margin: 1% auto;
    height: 2px;
    background: rgb(47, 147, 79);
}

.icon-group {
    position: relative;
    /*box-sizing: border-box;*/
    width: 80%;
    margin: auto;
    top: 5%;
}

.icon-group .icon {
    /*box-sizing: border-box;*/
    display: inline-block;
    max-height: 15%;
    max-width: 15%;
    margin: 0 7%;
    border-radius: 50%;
    transition: transform .5s, opacity .5s;
}

.icon1 {
    opacity: 0;
    transform: translateX(200px);
}

.icon2 {
    opacity: 1;
}

.icon3 {
    opacity: 0;
    transform: translateX(-200px);
}


/*.icon-text{
    box-sizing:border-box;
    width: 80%;
    margin: 5% auto;
    font-size: 0;
}*/

.icon-name {
    position: absolute;
    opacity: 0;
    font-size: 20px;
    margin-left: -18%;
    margin-top: 18%;
    transition: opacity .8s;
}

@media all and (orientation:portrait) {
  
    /* styles for iPhone/Android portrait */
    .wrapper {
        width: 80%;
        margin: 20% auto;
    }
    .icon-group {
        height: 50%;
        width: 50%;
        float: left;
        top: -5%;
    }
    .icon-group .icon {
        max-height: 30%;
        max-width: 30%;
        display: block;
        margin: 15% auto;
        transition: opacity 1s;
    }
    .icon-name {
        margin: auto;
        margin-left: 70%;
        margin-top: -40%;
        /*margin: 15% auto;*/
        /*height: 33.3%;*/
        width: auto;
        transition: opacity 1s;
    }
    .icon1 {
        opacity: 0;
    }
    .icon2 {
        opacity: 0;
    }
    .icon3 {
        opacity: 0;
    }
}


/***********************************SKILL************************/


#skill {
    background: white;
    color: #000;
    /*min-height: 100%;*/
    height: 100%;
    /*min-height: 100%;*/
    padding: 2% 10%;
    width: 100%;
}

.heading {
    min-width: 100%;
    margin: 20px auto;
    text-align: center;
    letter-spacing: 1px;
}

.card-group {
    height: 100%;
    font-size: 0px;
    z-index: -2;
}

.card-group .card {
    padding: 5% 0;
    color: #0cf;
    z-index: 1;
    position: relative;
    overflow: hidden;
    /*要不然盒子会乱*/
    display: inline-block;
    width: 33%;
    height: 40%;
    /*min-height: 50%;感觉这句没什么乱用 因为父级元素都没有设置height啊,笨**/
    font-size: 20px;
    text-align: center;
    /*padding: 20px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*简直太棒了！ http://www.cnblogs.com/wangfupeng1988/p/4287292.html*/
}


/*******************饼状图样式******************/

.circle {
    /***************center it***********/
    position: absolute;
    left: 50%;
    top: 50%;
    /*margin-left: -100px;*/
    /*margin-top: -100px;*/
    text-align: center;
    box-sizing: border-box;
    width: 30%;
    border: double;
    border-width: 10px 0 10px 10px;
    background: white;
    /*border-radius: 100px 0 0 100px;/*画半圆*/
    */
}

.mask {
    border-color: #DCDCDC;
    z-index: 0;
}

.left1,
.left2,
.left3,
.left4,
.left5,
.left6 {
    z-index: -1;
    border-color: #0cf;
    transform: rotate(0deg);
    /*transform-origin:100px 100px;*/
}

.right {
    z-index: -2;
    border-color: #DCDCDC;
    transform: rotate(180deg);
    /*transform-origin:100px 100px;*/
}

.language {
    font-size: 1em;
    position: relative;
    z-index: 2;
    /*line-height: 200px;*/
}

@media screen and (orientation:portrait) {
    .circle {
        width: 30%;
    }
    .card-group .card {
        width: 50%;
        height: 30%;
    }
    .language {
        line-height: 1em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}


/*********************************pro-show*******************/


#pro-show {
    background: #2F2828;
    color: #fff;
}

.show-preview >div {
    /*还可以这样写！使文字和图片并列*/
   display: inline-block;
}

.show-preview {
    position: relative;
    text-align: center;
    font-size: 0px;
    display: flex;
}

.show-preview:nth-child(odd) {
    background: #282828;
    /*只要是奇数 背景颜色就这个*/
}
.show-preview .img-section {
    position: relative;
    width: 45%;
    overflow: hidden;
}

.img-section img {

    max-width: 100%;
   transform:scale(1.0,1.0);
   -webkit-transition: all .4s;
   -o-transition: all .4s;
   transition: all .4s; 

}
.img-section:hover img{
    transform:scale(1.2,1.2);

}
.text-section {
    margin: auto;
    width: 55%;
    text-align: left;
}

.text-section >* {
    margin: auto;
    max-width: 90%;
    /*text下的所有元素的宽度不能超高text的90%*/
}

.text-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.text-section p {
    line-height: 30px;
    font-size: 12px;
}
@media screen and (max-width: 767px){
    .show-preview {

    display: block;
}
.show-preview .img-section {
    width: 100%;
}
.text-section {
    padding: 20px;
    width: 80%;
}
}

/**********************************footer******************/

footer {
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}

.share-group {
    display: block;
    /*width: 1080px;*/
    margin: 0 auto;
    padding: 50px;
}

.share-group li {
    display: inline-block;
    padding: 10px;
}

.copy {
    padding-bottom: 20px;
}
