* {
    font-family: SimHei;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

header {
    background: url(../img/bg2.jpg);
    /*一定要注意是上一级目录*/
    background-size: cover;
    height: 100%;
    width: 100%;
    /*box-shadow: 0 700px 0 0 rgba(0, 0, 0, 0.2) inset;/*实现遮罩的效果*/
    /*background-attachment: fixed;*/
    /*这样背景图片就不会动了*/
}

#hamburger {
    /*position: absolute;*/
    z-index: 3;
    position: fixed;
}

.nav {
    margin: 7.5px 10px;
    height: 10px;
    width: 50px;
    background: #fff;
    border-radius: 5px;
    transition: all 1s;
}

#mask-nav {
    /*display: none;*/
    position: absolute;
    z-index: 2;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 600px;
    width: 400px;
    transform: translateX(-400px);
    transition: transform 1s;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff
}


/* 未访问的链接 */

a:visited {
    color: #fff
}


/* 已访问的链接 */

a:hover {
    color: #fff
}


/* 鼠标移动到链接上 */

a:active {
    color: #fff
}


/* 选定的链接 */

#nav {
    height: 80px;
    position: fixed;
    /*让导航栏一直在上面*/
    width: 80px;
    z-index: 1;
}

#nav-bar {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}


/*nav ul {
    list-style: none;
    /*去掉li前面的点*/


/* margin: 0;
    float: right;

}

nav ul li ,nav .logo{
    display: inline-block;
    line-height: 80px;
    margin-right: 20px;
}

nav ul li a {
    line-height: 50px;
    text-decoration: none;

    display: inline-block;/*不仅仅只有这个字可以点击 其附近的空白处都可以点击*/


/* height: inherit;/*要是我原来估计只能写成button 或者 div*/


/*继承母元素的高度*/


/*color: #fff;
}
*/


/***********************banner*********************/

#banner {
    height: 100%;
    width: 100%;
    /*background: transparent;*/
    background: rgba(0, 0, 0, 0.2);
    /*这句放在这里也能实现这种遮罩的效果*/
    color: #fff;
}

#banner .inner {
    max-width: 80%;
    /*设置inner的宽度*/
    margin: 0 auto;
    /*上下为0，左右为auto 使其居中*/
    text-align: center;
    position: relative;
    top: 20%;
    /*往下来一点*/
    font-size: 15px;
}

h1 {
    margin: 0;
    /*有多余的行高*/
}

#banner .inner p {
    line-height: 20px;
    margin: 10px;
}

button {
    outline: none;
    /*去除button点击过后的外边框*/
    border: none;
    background: #333;
    /*背景颜色*/
    color: #eee;
    /*文字颜色*/
}

#banner button {
    border-radius: 5px;
    position: absolute;
    /*padding: 25px 50px;*/
    /**************用absolute left:0 right:0 margin:atuo实现居中*/
    left: 0;
    right: 0;
    margin: auto;
    height: 10%;
    width: 20%;
    bottom: 10%;
    font-size: 16px;
    /*letter-spacing: 12px;*/
    color: #eee;
    transition: color 1s;
    /*按钮的上文字的颜色加了过度效果*/
}

#banner button:before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    width: 0%;
    height: 100%;
    color: #eee;
    display: flex;
    /*another button style*/
    /* background: url(../img/more.png) no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;*/
    transition: width .4s ease;
}

#banner button:hover {
    color: #333;
    /*按钮的上文字的颜色加了过度效果*/
}

#banner button:hover:before {
    width: 100%;
    /*opacity: 1;*/
}


/*z-index叠加 由于是postion：realtive所以按次序覆盖在上面*/

#banner button span {
    position: relative;


}


/***************************RECOMMEND**********************/

#recommend {
    position: relative;
    font-size: 12px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #171D25;
    color: #fff;
    box-sizing:border-box;
    /*padding: 1% 0;*/
    border: solid 1px #171D25;
    /*避免子元素的margin-top塌陷*/
}

.wrapper {
    width: 80%;
    margin:15% auto 5% auto
}

#recommend .hr {
    width: 100%;
    margin: 1% auto;
    height: 2px;
    background: rgb(47, 147, 79);
}

.icon-group {
    position: relative;
    box-sizing:border-box;
    width: 80%;
    margin: auto;
    top: 5%;
}

.icon-group .icon {
    box-sizing:border-box;
    display: inline-block;
    max-height: 15%;
    max-width: 15%;
    margin: 0 7%;
    border-radius: 50%;
    transition: transform .5s, opacity .5s;
}

.icon1 {
    opacity: 0;
    transform: translateX(250px);
}

.icon2 {
    opacity: 1;
}

.icon3 {
    opacity: 0;
    transform: translateX(-250px);
}
/*.icon-text{
    box-sizing:border-box;
    width: 80%;
    margin: 5% auto;
    font-size: 0;
}*/
.icon-name {
    position: absolute;
    opacity: 0;
    font-size: 20px;
    margin-left: -18%;
    margin-top: 18%;
    transition:opacity .8s;
}

@media all and (orientation:portrait){
    #banner button {
        font-size: 1em;
    }

    /* styles for iPhone/Android portrait */
    .wrapper {
    width: 80%;
    margin: 15% auto;
}
    .icon-group {
        height: 50%;
        width:50%;
        float: left;
        top:-5%;
    }
    .icon-group .icon {
        max-height: 30%;
        max-width: 30%;
        display: block;
        margin:15% auto;
        transition:opacity 1s;
    }

    .icon-name{
        margin:auto;
        margin-left: 70%;
        margin-top: -40%;
        /*margin: 15% auto;*/
        /*height: 33.3%;*/
        width: auto;
        transition:opacity 1s;
    }
    .icon1 {
    opacity: 0;
    }

    .icon2 {
    opacity: 0;
    }

    .icon3 {
    opacity: 0;
    }
}


/***********************************SKILL************************/

/***********************************SKILL************************/
#skill {
    background: white;
    color: #000;
    /*min-height: 100%;*/
    height: 100%;
    /*min-height: 100%;*/
    padding: 2% 10%;
    width: 100%;
}

.heading {
    min-width: 100%;
    margin: 20px auto;
    text-align: center;
    letter-spacing: 1px;
}

.card-group {
    height: 100%;
    font-size: 0px;
     z-index: -2;
}

.card-group .card {
    padding: 5% 0;
    color:#0cf;
    z-index: 1;
    position: relative;
    overflow: hidden;
    /*要不然盒子会乱*/
    display: inline-block;
    width: 33%;
    height: 40%;
    /*min-height: 50%;感觉这句没什么乱用 因为父级元素都没有设置height啊,笨**/
    font-size: 20px;
    text-align: center;
    /*padding: 20px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*简直太棒了！ http://www.cnblogs.com/wangfupeng1988/p/4287292.html*/
}


/*******************饼状图样式******************/
    .circle{
        /***************center it***********/
        position: absolute;
        left: 50%;
        top: 50%;
        /*margin-left: -100px;*/
        /*margin-top: -100px;*/

        text-align: center;
        box-sizing:border-box;
        width: 30%;
        border: double;
        border-width:10px 0 10px 10px;
        background:white;
        /*border-radius: 100px 0 0 100px;/*画半圆*/*/
        }
        .mask{
        border-color:#DCDCDC;
        z-index: 0;
        }
        .left1,.left2,.left3,.left4,.left5,.left6{
        z-index: -1;
        border-color:#0cf;
        transform:rotate(0deg);
        /*transform-origin:100px 100px;*/
        }
        .right{
        z-index: -2;
        border-color:#DCDCDC;
        transform:rotate(180deg);
        /*transform-origin:100px 100px;*/
        }

        .language{
            font-size: 1em;
            position: relative;
            z-index: 2;
            /*line-height: 200px;*/
        }
        @media screen  and (orientation:portrait){
            .circle{
            width: 30%;
        }
    .card-group .card {
        width: 50%;
        height: 30%;
    }
        .language{
            line-height: 1em;
             position: absolute;
            top: 0;
             left: 0;
            right: 0;
            margin:auto;
        }
}

/*********************************pro-show*******************/

.show-preview .img-section {
    width: 45%;
}

.img-section img {
    max-width: 100%;
}

.text-section {
    width: 55%;
    text-align: left;
    position: relative;
    top: 100px;
}

.text-section >* {
    max-width: 90%;
    /*text下的所有元素的宽度不能超高text的90%*/
    margin-left: 60px;
    margin-right: 60px;
}

.text-section h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.text-section p {
    line-height: 30px;
    font-size: 16px;
}

#pro-show {
    background: #2F2828;
    color: #fff;
}

.show-preview >div {
    /*还可以这样写！使文字和图片并列*/
    float: left;
}

.show-preview {
    font-size: 0px;
}

.show-preview:after {
    content: "";
    display: block;
    clear: both;
}

.show-preview:nth-child(odd) {
    background: #333;
    /*只要是奇数 背景颜色就这个*/
}


/**********************************footer******************/

footer {
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}

.share-group {
    display: block;
    /*width: 1080px;*/
    margin: 0 auto;
    padding: 50px;
}

.share-group li {
    display: inline-block;
    padding: 10px;
}

.copy {
    padding-bottom: 20px;
}