* {
    font-family: SimHei;
    box-sizing: border-box;
}
body,html{
    height:100%;
}
header {
    background: url(../img/bg2.jpg);
    /*一定要注意是上一级目录*/
    background-size: cover;
    height: 100%;
    /*box-shadow: 0 700px 0 0 rgba(0, 0, 0, 0.2) inset;/*实现遮罩的效果*/

    /*background-attachment: fixed;*/

    /*这样背景图片就不会动了*/
}
#hamburger{
    z-index: 1;
    position: fixed;
}
.nav{
    margin:7.5px 10px;
    height: 10px;
    width: 50px;
    background: #fff;
    border-radius: 5px;
    transition:all 1s;
}

#mask-nav{
    /*display: none;*/
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.8);
    height: 600px;
    width: 400px;
    transform:translateX(-400px);
    transition:transform 1s;
}
a{
    text-decoration: none;
}
a:link {color: #fff}     /* 未访问的链接 */
a:visited {color: #fff}  /* 已访问的链接 */
a:hover {color: #fff}    /* 鼠标移动到链接上 */
a:active {color: #fff}   /* 选定的链接 */
#nav {
    height: 80px;
    position: fixed;/*让导航栏一直在上面*/
    width: 80px;
    z-index: 1;
}
#nav-bar{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}
/*nav ul {
    list-style: none;
    /*去掉li前面的点*/


/* margin: 0;
    float: right;

}

nav ul li ,nav .logo{
    display: inline-block;
    line-height: 80px;
    margin-right: 20px;
}

nav ul li a {
    line-height: 50px;
    text-decoration: none;

    display: inline-block;/*不仅仅只有这个字可以点击 其附近的空白处都可以点击*/


/* height: inherit;/*要是我原来估计只能写成button 或者 div*/


/*继承母元素的高度*/


/*color: #fff;
}
*/
/***********************banner*********************/
#banner {
    min-height: 100%;
    /*background: transparent;*/
    background: rgba(0, 0, 0, 0.2);
    /*这句放在这里也能实现这种遮罩的效果*/
    color: #fff;
}

#banner .inner {
    max-width: 500px;
    /*设置inner的宽度*/
    margin: 0 auto;
    /*上下为0，左右为auto 使其居中*/
    text-align: center;
    position: relative;
    top: 160px;
    /*往下来一点*/
    font-size: 20px;
}

#banner .inner h1 {
    margin: 0;
    /*有多余的行高*/
}

#banner .inner p {
    line-height: 20px;
    margin: 10px;
}

button {
    outline: none;
    /*去除button点击过后的外边框*/
    border: none;
    background: #333;
    /*背景颜色*/
    color: #eee;
    /*文字颜色*/
}

#banner button {
    border-radius: 5px;
    position: relative;
    padding: 25px 50px;
    margin-top: 250px;
    font-size: 28px;
    letter-spacing: 5px;
    color: #eee;
    transition: color 1s;
    /*按钮的上文字的颜色加了过度效果*/
}

#banner button:before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    width: 0%;
    height: 100%;
    color: #eee;
    /*another button style*/
   /* background: url(../img/more.png) no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;*/
    transition: width .4s ease;
}

#banner button:hover {
    color: #333;
    /*按钮的上文字的颜色加了过度效果*/
}

#banner button:hover:before {
    width: 100%;
    /*opacity: 1;*/
}


/*z-index叠加 由于是postion：realtive所以按次序覆盖在上面*/

#banner button span {
    position: relative;
}


/*.logo{*/


/*font-size: 20px;*/


/*font-weight: 700;*/


/*letter-spacing: 1px;/*字符间的空格*/


/*margin-left: 20px;*/


/**/


/*}*/


/*.logo a{*/


/*line-height: 50px;*/


/*text-decoration: none;*/


/*color: #fff;*/


/*}*/



/***************************RECOMMEND**********************/
#recommend {
    min-height: 100%;
    text-align: center;
    background-color: #171D25;
    color: #fff;
    padding: 100px 0;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

#recommend .hr {
    width: 100%;
    margin: 20px auto;
    height: 2px;
    background: rgb(47, 147, 79);
}

.icon-group {
    padding: 50px 50px 0 50px;
}

.icon-group .icon {
    display: inline-block;
    height: 180px;
    width: 180px;
    margin: 0 80px;
    border-radius: 50%;
    transition:transform .5s,opacity .5s;
}

.icon1 {
    opacity: 0;
    background: url(../img/github2.png);
    background-size: cover;
    transform: translateX(250px);

}
.icon2 {
    background: url(../img/logo.png);
    background-size: cover;
}
.icon3 {
    opacity: 0;
    background: url(../img/twitter.png);
    background-size: cover;
    transform: translateX(-250px);
}
.icon-name{
    opacity: 0;
    font-size: 30px;
    display: inline-block;
    margin:10px 130px;
    transition:opacity .8s;
}


/*********************************pro-show*******************/
.show-preview .img-section {
    width: 45%;
}

.img-section img {
    max-width: 100%;
}

.text-section {
    width: 55%;
    text-align: left;
    position: relative;
    top: 100px;
}

.text-section >* {
    max-width: 90%;
    /*text下的所有元素的宽度不能超高text的90%*/
    margin-left: 60px;
    margin-right: 60px;
}

.text-section h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.text-section p {
    line-height: 30px;
    font-size: 16px;
}

#pro-show {
    background: #2F2828;
    color: #fff;
}

.show-preview >div {
    /*还可以这样写！使文字和图片并列*/
    float: left;
}

.show-preview {
    font-size: 0px;
}

.show-preview:after {
    content: "";
    display: block;
    clear: both;
}

.show-preview:nth-child(odd) {
    background: #333;
    /*只要是奇数 背景颜色就这个*/
}


/***********************************SKILL************************/
#skill {
    background: #fff;
    color: #000;
    padding: 100px 200px;
}

.heading {
    max-width: 1080px;
    margin: 20px auto;
    text-align: center;
    letter-spacing: 1px;
}

.heading .hr {
    width: inherit;
    height: 2px;
    background: #fff;
    margin: 20px auto;
}

.card-group {
    font-size: 0px;
     z-index: -2;
}

.card-group .card {
    line-height: 300px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    /*要不然盒子会乱*/
    display: inline-block;
    width: 50%;
    min-height: 300px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*简直太棒了！ http://www.cnblogs.com/wangfupeng1988/p/4287292.html*/
}



.circle{

            box-sizing:border-box;
            width: 100px;
            height: 200px;
            background:white;
            position: absolute;
            top: 50%;
            margin-top: -100px;
            left: 50%;
            margin-left: -100px;
        }
        .circle1{
            animation:myRotate1 2s  linear forwards;
            -webkit-animation:myRotate1 2s  linear forwards;
        }
        .circle2{
            animation:myRotate2 2s  linear forwards;
            -webkit-animation:myRotate2 2s  linear forwards;
        }
        .circle3{
            animation:myRotate3 2s  linear forwards;
            -webkit-animation:myRotate3 2s  linear forwards;
        }
        .circle4{
            animation:myRotate4 2s  linear forwards;
            -webkit-animation:myRotate4 2s  linear forwards;
        }
        .circle5{
            animation:myRotate5 2s  linear forwards;
            -webkit-animation:myRotate5 2s  linear forwards;
        }
        .circle6{
            animation:myRotate6 2s  linear forwards;
            -webkit-animation:myRotate6 2s  linear forwards;
        }
        .circle:before,.circle:after{
            box-sizing:border-box;
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100px;
            height: 200px;
            border: solid;
            border-width:10px 0 10px 10px;
            border-color:#0cf;
            border-radius: 100px 0 0 100px;/*画半圆*/
            background:white;
        }
        .circle:before{
            transform:rotate(0deg);
            transform-origin:100px 100px;
            /*transition:transform 1s;*/
        }
        .circle:after{
            transform:rotate(180deg);
            transform-origin:100px 100px;
            opacity: 0;
        }
        .circle1:before{
            animation:myRotate-before1 2s  linear forwards;
            -webkit-animation:myRotate-before1 2s  linear forwards;
        }
        .circle2:before{
            animation:myRotate-before2 2s  linear forwards;
            -webkit-animation:myRotate-before2 2s  linear forwards;
        }
        .circle3:before{
            animation:myRotate-before3 2s  linear forwards;
            -webkit-animation:myRotate-before3 2s  linear forwards;
        }
        .circle4:before{
            animation:myRotate-before4 2s  linear forwards;
            -webkit-animation:myRotate-before4 2s  linear forwards;
        }
        .circle5:before{
            animation:myRotate-before5 2s  linear forwards;
            -webkit-animation:myRotate-before5 2s  linear forwards;
        }
        .circle6:before{
animation:myRotate-before6 2s  linear forwards;
            -webkit-animation:myRotate-before6 2s  linear forwards;
        }

        @-webkit-keyframes myRotate-before1 /* Safari and Chrome */
        {
        from {transform:rotate(0deg);}
        to {transform:rotate(300deg);}
        }
         @-webkit-keyframes myRotate-before2 /* Safari and Chrome */
        {
        from {transform:rotate(0deg);}
        to {transform:rotate(20deg);}
        }
         @-webkit-keyframes myRotate-before3 /* Safari and Chrome */
        {
        from {transform:rotate(0deg);}
        to {transform:rotate(60deg);}
        }
         @-webkit-keyframes myRotate-before4 /* Safari and Chrome */
        {
        from {transform:rotate(0deg);}
        to {transform:rotate(180deg);}
        }
         @-webkit-keyframes myRotate-before5 /* Safari and Chrome */
        {
        from {transform:rotate(0deg);}
        to {transform:rotate(270deg);}
        }
         @-webkit-keyframes myRotate-before6 /* Safari and Chrome */
        {
        from {transform:rotate(0deg);}
        to {transform:rotate(30deg);}
        }
        .circle1:after{
            animation:myRotate-after1 2s  linear forwards;
            -webkit-animation:myRotate-after1 2s  linear forwards;
        }
        .circle2:after{
            animation:myRotate-after2 2s  linear forwards;
            -webkit-animation:myRotate-after2 2s  linear forwards;
        }
        .circle3:after{
            animation:myRotate-after3 2s  linear forwards;
            -webkit-animation:myRotate-after3 2s  linear forwards;
        }
        .circle4:after{
            animation:myRotate-after4 2s  linear forwards;
            -webkit-animation:myRotate-after4 2s  linear forwards;
        }
        .circle5:after{
            animation:myRotate-after5 2s  linear forwards;
            -webkit-animation:myRotate-after5 2s  linear forwards;
        }
        .circle6:after{
animation:myRotate-after6 2s  linear forwards;
            -webkit-animation:myRotate-after6 2s  linear forwards;
        }
        @-webkit-keyframes myRotate-after1  /*Safari and Chrome*/
        {
        0%{opacity:0;}
        55%{opacity:0;}
        56%{opacity:1;}
        100%{opacity:1;}
        }
          @-webkit-keyframes myRotate-after2  /*Safari and Chrome*/
        {
        0%{opacity:0;}
        55%{opacity:0;}
        56%{opacity:0;}
        100%{opacity:0;}
        }
          @-webkit-keyframes myRotate-after3  /*Safari and Chrome*/
        {
        0%{opacity:0;}
        55%{opacity:0;}
        56%{opacity:0;}
        100%{opacity:0;}
        }
          @-webkit-keyframes myRotate-after4  /*Safari and Chrome*/
        {
        0%{opacity:0;}
        55%{opacity:0;}
        56%{opacity:0;}
        100%{opacity:0;}
        }
          @-webkit-keyframes myRotate-after5  /*Safari and Chrome*/
        {
        0%{opacity:0;}
        55%{opacity:0;}
        56%{opacity:1;}
        100%{opacity:1;}
        }
          @-webkit-keyframes myRotate-after6 /*Safari and Chrome*/
        {
        0%{opacity:0;}
        55%{opacity:0;}
        56%{opacity:0;}
        100%{opacity:0;}
        }
        @-webkit-keyframes myRotate1  /*Safari and Chrome*/
        {
        0%{background:white;}
          56%{background:white;}
          57%{background:transparent;}
          100%{background:transparent;}
        }
        @-webkit-keyframes myRotate2  /*Safari and Chrome*/
        {
        0%{background:white;}
          56%{background:white;}
          57%{background:white;}
          100%{background:white;}
        }
        @-webkit-keyframes myRotate3  /*Safari and Chrome*/
        {
        0%{background:white;}
          56%{background:white;}
          57%{background:white;}
          100%{background:white;}
        }
        @-webkit-keyframes myRotate4  /*Safari and Chrome*/
        {
        0%{background:white;}
          56%{background:white;}
          57%{background:white;}
          100%{background:white;}
        }
        @-webkit-keyframes myRotate5  /*Safari and Chrome*/
        {
        0%{background:white;}
          56%{background:white;}
          57%{background:transparent;}
          100%{background:transparent;}
        }
        @-webkit-keyframes myRotate6  /*Safari and Chrome*/
        {
        0%{background:white;}
          56%{background:white;}
          57%{background:white;}
          100%{background:white;}
        }
        .percent{
            color: #0cc;
            font-size: 20px;
            line-height: 100px;
            display: block;
            vertical-align: middle;
            position: absolute;
            margin-left: 30px;
        }
/**********************************footer******************/
footer {
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}

.share-group {
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}

.share-group li {
    display: inline-block;
    padding: 10px;
}

.copy {
    padding-bottom: 20px;
}
